html, body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0
}

.btn {
	padding-top: 5px;
	padding-right:2px;
	width: 143px;
	height: 40px;
	color: #FF4040;
	border-radius: 6px;
	text-shadow: 1px 1px 1px #fff;
	border: 1px solid #dce1e6;
	box-shadow: 0 1px 2px #fff inset, 0 -1px 0 #a8abae inset;
	background: -webkit-linear-gradient(top, #f2f3f7, #e4e8ec);
	background: -moz-linear-gradient(top, #f2f3f7, #e4e8ec);
	background: linear-gradient(top, #f2f3f7, #e4e8ec);
}